@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  font-family: "Poppins", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}
.cool-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
  background-image: radial-gradient(white 5%, transparent 5%),
    radial-gradient(white 5%, transparent 5%);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
}

a {
  text-decoration: none;
  color: inherit;
}
.heading {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 10px;
  color: rgb(217, 217, 217);
}
.subheading {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-size: 2.125rem;
  line-height: 1.235;
  font-weight: 900;
}
.paragraph {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 14px;
  color: rgb(217, 217, 217);
}
.maincont {
  height: 200px;
  width: 200px;
  border: 2px solid rgb(28, 21, 59);
  border-radius: 0.5rem;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
}
.bd {
  border: 2px solid rgb(28, 21, 59);
  border-radius: 0.5rem;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
}
.pointer {
  background-color: #a020f0;
}
.techheading{
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 10px;
}
